<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PalStudy AI</title>
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
         <!-- Main Container: Sidebar and Chatbox -->
        <div class="main-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <ul class="logo">
                <li><a>LOGO</a></li>
            </ul>
            <ul class="sidebar-menu">
                <li class="dropdown">
                    <a href="#" class="dropbtn" aria-haspopup="true" aria-expanded="false">Subject <i class="ri-arrow-down-s-line"></i></a>
                    <ul class="drop-content" aria-label="submenu">
                    <li class="dropSub">
                        <a href="#" id="filipino-subject">Filipino<i class="ri-arrow-down-s-line"></i></a>
                        <ul class="drop-content subject-content">
                            <li class="dropLesson"> 
                                <a href="#" id="filipino-lesson-1">Aralin 1<i class="ri-arrow-down-s-line"></i></a>
                                <ul class="drop-content lesson-content">
                                    <li><a href="#">True or False</a></li>
                                    <li><a href="#">Multiple Choice</a></li>
                                    <li><a href="#" id="identify1-quiz">Identification</a></li>
                                </ul>
                            </li>
                            <li class="dropLesson">
                                <a href="#">Aralin 2<i class="ri-arrow-down-s-line"></i></a>
                                <ul class="drop-content lesson-content">
                                    <li><a href="#">True or False</a></li>
                                    <li><a href="#">Multiple Choice</a></li>
                                    <li><a href="#">Identification</a></li>
                                </ul>
                            </li>
                            <li class="dropLesson">
                                <a href="#">Aralin 3<i class="ri-arrow-down-s-line"></i></a>
                                <ul class="drop-content lesson-content">
                                    <li><a href="#">True or False</a></li>
                                    <li><a href="#">Multiple Choice</a></li>
                                    <li><a href="#">Identification</a></li>
                                </ul>
                            </li>
                            <li class="dropLesson">
                                <a href="#">Aralin 4<i class="ri-arrow-down-s-line"></i></a>
                                <ul class="drop-content lesson-content">
                                    <li><a href="#">True or False</a></li>
                                    <li><a href="#">Multiple Choice</a></li>
                                    <li><a href="#">Identification</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </li>
            </ul>
            <ul class="nav_line">
                <li><a href="#">Forum</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <div class="buttons">
                <a class="su" href="#"><button>SIGN UP</button></a>
                <a class="si" href="#"><button>SIGN IN</button></a>
            </div>
        </div>

        <!-- Chatbox -->
        <div class="chat-container">
            <div class="quiz-box">
            </div>

            <div class="chat-box">

            </div> 

            <div class="popup-quiz">
                <h1>Mga Tagubilin:</h1>
                <span class="info">1. Sagutin ang bawat tanong sa loob ng 5 segundo.</span>
                <span class="info">2. Ang bawat tamang sagot ay may katumbas na 2 puntos.</span>
                <span class="info">3. Pindutin ng diin ang 'Mic Button' upang sabihin ang iyong sagot.</span>

                <div class="btn-group">
                    <button class="pop-btn exit">Alisin</button>
                    <a href="" class="pop-btn continue">Magpatuloy</a>
                </div>
            </div>

            <div class="overlay"></div>
            
            <!-- Timer and Input Button -->
            <!-- <div class="user-input">
                <div id="timer" class="timer">5 : Timer</div>
                <div id="score" class="score">Score: 0/10</div>
                <button id="start-speech">
                    <img src="../static/image/mic-icon.png" alt="Mic" id="mic-icon"> Start
                </button>
            </div> -->
        </div>
    </div>

        <!-- Link to JavaScript file -->
        <script src="../static/js/nav.js"></script>
        <script src="../static/js/voiceRecognition.js"></script>
        <script src="../static/js/questions.js"></script>
        <script src="../static/js/chatbox.js"></script>
        <script src="../static/js/lesson.js"></script>
        <script src="../static/js/instruction.js"></script>

    </body>
</html>
