<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PalStudy AI</title>
        <link rel="stylesheet" href="../static/style.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
         <!-- Main Container: Sidebar and Chatbox -->
        <div class="main-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <ul class="logo">
                <li><a>LOGO</a></li>
            </ul>
            <ul class="sidebar-menu">
                <li class="dropdown">
                    <a href="#" class="dropbtn" aria-haspopup="true" aria-expanded="false">Subject <i class="ri-arrow-down-s-line"></i></a>
                    <ul class="drop-content" aria-label="submenu">
                    <li class="dropSub">
                        <a href="#" id="filipino-subject">Filipino<i class="ri-arrow-down-s-line"></i></a>
                        <ul class="drop-content subject-content">
                            <li class="dropLesson"> 
                                <a href="#" id="filipino-lesson-1">Aralin 1<i class="ri-arrow-down-s-line"></i></a>
                                <ul class="drop-content lesson-content">
                                    <li><a href="#">True or False</a></li>
                                    <li><a href="#">Multiple Choice</a></li>
                                    <li><a href="#" id="identify1-quiz">Identification</a></li>
                                </ul>
                            </li>
                            <li class="dropLesson">
                                <a href="#">Aralin 2<i class="ri-arrow-down-s-line"></i></a>
                                <ul class="drop-content lesson-content">
                                    <li><a href="#">True or False</a></li>
                                    <li><a href="#">Multiple Choice</a></li>
                                    <li><a href="#">Identification</a></li>
                                </ul>
                            </li>
                            <li class="dropLesson">
                                <a href="#">Aralin 3<i class="ri-arrow-down-s-line"></i></a>
                                <ul class="drop-content lesson-content">
                                    <li><a href="#">True or False</a></li>
                                    <li><a href="#">Multiple Choice</a></li>
                                    <li><a href="#">Identification</a></li>
                                </ul>
                            </li>
                            <li class="dropLesson">
                                <a href="#">Aralin 4<i class="ri-arrow-down-s-line"></i></a>
                                <ul class="drop-content lesson-content">
                                    <li><a href="#">True or False</a></li>
                                    <li><a href="#">Multiple Choice</a></li>
                                    <li><a href="#">Identification</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </li>
            </ul>
            <ul class="nav_line">
                <li><a href="#">Forum</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <div class="buttons">
                <a class="su" href="#"><button>SIGN UP</button></a>
                <a class="si" href="#"><button>SIGN IN</button></a>
            </div>
        </div>

        <!-- Chatbox -->
        <div class="chat-container">
            <div class="quiz-box">
                
            </div>

            <div class="chat-box">
                <div id="filipino-lessons" class="hidden">
                    <h2>FILIPINO SUBJECT</h2>
                    <ul class="filipino-link">
                        <li><a href="#" id="lesson-1-link" class="button1">Aralin 1</a></li>
                        <li><a href="#" class="button1">Aralin 2</a></li>
                        <li><a href="#" class="button1">Aralin 3</a></li>
                        <li><a href="#" class="button1">Aralin 4</a></li>
                    </ul>
                </div>
            
                <div id="lesson-1-title" class="hidden">
                    <h2>Aralin 1: Panitikan and Karunungang-bayan</h2>
                    <button id="start-lesson-btn">Start Lesson</button>
                </div>
            
                <div id="lesson-1-content" class="hidden">
                    <h2>Aralin 1: Panitikan (Kahulugan at Kahalagahan) at Karununganp-bayan (Salawikain, Sawikain, Kasabihan, Bugtong)</h2>
                    <h4><strong>PANITIKAN</strong>:</h4>
                        <p> - Ito ay nagmula sa salitang “pang-titik-an” na ang ibig sabihin ay literatura o mgaakdang nasusulat.</p>
                        <p> - Ito ay naglalaman ng mga akdang may kinalaman sa pang-araw-araw na buhay, mga kathang-isip, pag-ibig, kasaysayan at iba pa.</p>
                    <h4>KAHULUGAN NG PANITIKAN</h4>
                        <p>Ang pilipinong salita ng “panitikan” ay nanggaling sa wikang latin na “littera” na ang ibig sabihin ay “titik”. </p>
                        <p>Sa pinakapayak na pagkakalarawan, ito ay angpagsusulat ng tuwiran at patula na nag uugnay sa isang tao.</p> 
                        <p>Isang malinaw nasalamin, larawan, repleksyon o representasyon ng buhay, karanasan, lipunan at kasaysayan.</p>
                    <h4>KAHALAGAHAN NG PAG-AARAL NG PANITIKANG PILIPINO</h4>
                    <ul>
                        <li>Mabatid ang kaugalian, tradisyon at kultura</li>
                        <li>Maipagmalaki ang manunulat na Pilipino</li>
                        <li>Mabatid ang mga akdang Pilipino</li>
                        <li>Mabatid ang sariling kahusayan, kapintasan at kahinaan</li>
                    </ul>

                    <h4><strong>KARUNUNGANG-BAYAN</strong></h4>
                    <h4>SALAWIKAIN</h4>
                        <p>- Ang salawikain ay mga kasabihan o kawikaan na nagbibigay </p>
                        <p> o nagpapanuto ngmagagandang aral o gabay sa pamumuhay, sa asal, sa pakikipagkapwa.</p>
                    <h4>SAWIKAIN</h4>
                        <p>- Ang sawikain ay kasabihan o kawikaan na may dalang aral na maaaring tumukoysa isang idyoma, </p>
                        <p> isang pagpapahayag na ang kahulugan ay hindi komposisyunal omatatalinghagang salita.</p>
                        <p>Halimbawa: Ilaw ng tahanan – INA</p>
                    <h4>KASABIHAN</h4>
                        <p>Ang kasabihan ay bahagi na ng kulturang Pilipino. Ito ay ipinasa sa atin ng ating mga ninuno, </p>
                        <p>ang kasabihan ay nagbibigay ng paalala at mabuting aral sa atin.
                        <p>Halimbawa: Walang lihim na hindi nabubunyag, walang totoo na hindi nahahayag</p>
                    <h4>BUGTONG</h4>
                        <p>Isang pangungusap o tanong na may doble o nakatagong kahulugan na nilulutasbilang isang palaisipan.</p>
                        <p>Halimbawa: Binti walang hita, may tuktok walang mukha. (KABUTE)</p>
                </div>
            </div>
            

            <div class="popup-quiz">
                <h1>Mga Tagubilin:</h1>
                <span class="info">1. Sagutin ang bawat tanong sa loob ng 5 segundo.</span>
                <span class="info">2. Ang bawat tamang sagot ay may katumbas na 2 puntos.</span>
                <span class="info">3. Pindutin ng diin ang 'Mic Button' upang sabihin ang iyong sagot.</span>

                <div class="btn-group">
                    <button class="pop-btn exit">Alisin</button>
                    <a href="" class="pop-btn continue">Magpatuloy</a>
                </div>
            </div>

            <div class="overlay"></div>
        </div>
    </div>

        <!-- Link to JavaScript file -->
        <script src="../static/js/nav.js"></script>
        <script src="../static/js/voiceRecognition.js"></script>
        <script src="../static/js/questions.js"></script>
        <script src="../static/js/chatbox.js"></script>
        <script src="../static/js/lesson.js"></script>
        <script src="../static/js/quiz.js"></script>
        <script src="../static/js/instruction.js"></script>

    </body>
</html>
